
name: docker

on:
  push:
    branches:
      - 'master'

  schedule:
    - cron: '0 0 * * 1'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: c332030
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: c332030
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        id: docker_build
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            c332030/alpine-git-ssh:latest
            ghcr.io/${{ github.repository }}:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
